<ion-header class="ion-no-border" (click)="goBack()">
    <img src="../../assets/img/Icon material-arrow_back.png" class="icon-menu">
    <ion-title>{{name}}</ion-title>
</ion-header>

<ion-content>
  <ion-grid class="margin-tab">
    <ion-row class="margin-tab-row">
      <ion-col class="col-1">
        <div class="content">
          <div class="circle inv-color"></div>
          <div class="vertical-line"></div>
        </div>
      </ion-col>
      <ion-col class="content-1">
        <div class="title">
          INV-00004
        </div>
        <div class="date">
          27 Mar 2022
        </div>
      </ion-col>
      <ion-col>
        <div class="price inv-color">
          0.00 TND
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="margin-tab-row">
      <ion-col class="col-1">
        <div class="content">
          <div class="circle pay-color"></div>
          <div class="vertical-line"></div>
        </div>
      </ion-col>
      <ion-col class="content-1">
        <div class="title">
          PAY-S-00002
        </div>
        <div class="date">
          27 Mar 2022
        </div>
      </ion-col>
      <ion-col>
        <div class="price pay-color">
          0.00 TND
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="margin-tab-row">
      <ion-col class="col-1">
        <div class="content">
          <div class="circle est-color"></div>
          <div class="vertical-line wwhite"></div>
        </div>
      </ion-col>
      <ion-col class="content-1">
        <div class="title">
          EST-00002
        </div>
        <div class="date">
          27 Mar 2022
        </div>
      </ion-col>
      <ion-col>
        <div class="price est-color">
          0.00 TND
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
