<ion-header class="ion-no-border">
  
    <img src="../../assets/img/Icon material-arrow_back.png" class="precedent" (click)="goBack()">
    <ion-title>{{ 'COMPANYONE.header' | translate}}</ion-title>
 
</ion-header>

<ion-content>
 <div class="rounded-card"> 
    <form [formGroup]="formData" (ngSubmit)="onSubmit">
      <ion-grid class="content">
        <ion-row>
          <ion-col class="sub-title">
            {{ 'COMPANYTHREE.info' | translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="input-border">
            <ion-input type="text" placeholder="{{ 'COMPANYTHREE.bank' | translate}}" formControlName="bank"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="input-border">
            <ion-input type="text" placeholder="{{ 'COMPANYTHREE.bic' | translate}}" formControlName="bs"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="input-border">
            <ion-input type="text" placeholder="{{ 'COMPANYTHREE.rib' | translate}}" formControlName="rib"></ion-input>
          </ion-col>
        </ion-row>
   
        <ion-row>
          <ion-col class="input-border">
            <div class="label">
              {{ 'COMPANYTHREE.country' | translate}}
            </div>
            <ion-select [value]="countryDefault" formControlName="country" class="select-option" interface="popover">
              <ion-select-option *ngFor="let country of countries" [value]="country">{{country.title}}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col class="button3-color btn-radius" (click)="onSubmit()">
          <button class="btn padding-btn text-light text-btn">{{ 'COMPANYONE.ctn' | translate}}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>