<ion-header class="ion-no-border">
  
    <img src="../../assets/img/Icon material-arrow_back.png" class="precedent" (click)="goBack()">
    <ion-title> {{ 'COMPANYONE.header' | translate}}</ion-title>
 
</ion-header>

<ion-content>
 <div class="rounded-card"> 
    <form [formGroup]="formData" (ngSubmit)="onSubmit">
      <ion-grid class="content">
        <ion-row>
          <ion-col class="sub-title">
            {{ 'COMPANYONE.info' | translate}}
          </ion-col>
        </ion-row>
      
        <ion-row>
          <ion-col class="input-border">
            <div class="label">
              {{ 'COMPANYTWO.act' | translate}}
            </div>
            <ion-select [value]="activityDefault" formControlName="activity" class="select-option" interface="popover">
              <ion-select-option *ngFor="let activity of activities" [value]="activity">{{ activity.title }}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="input-border">
            <ion-input type="text" placeholder="  {{ 'COMPANYTWO.tax' | translate}}" formControlName="tax"></ion-input>
          </ion-col>
        </ion-row>
      
        <ion-row>
          <ion-col class="input-border">
            <div class="label">
              {{ 'COMPANYTWO.ex' | translate}}
            </div>
            <ion-select [value]="accountDefault" formControlName="exercice" class="select-option" interface="popover">
              <ion-select-option *ngFor="let account of accounting" [value]="account">{{ account.title }}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      
        <ion-row>
          <ion-col class="input-border">
            <div class="label1">
              {{ 'COMPANYTWO.curr' | translate}}
            </div>
            <ion-select [value]="currencyDefault" formControlName="currency" class="select-option" interface="popover">
              <ion-select-option *ngFor="let currency of currencies" [value]="currency">{{currency.title}}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col class="button3-color btn-radius" (click)="onSubmit()">
          <button class="btn padding-btn text-light text-btn">{{ 'COMPANYONE.ctn' | translate}}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>