<ion-header class="ion-no-border" (click)="goBack()">
  
    <img src="../../assets/img/Icon material-arrow_back.png" class="icon-menu" >
    <ion-title>{{'clientone.title' | translate}}</ion-title>

</ion-header>

<ion-content >
  <div class="rounded-card"> 
    <form [formGroup]="formData" (ngSubmit)="onSubmit()">
      <ion-grid>
        <ion-row>
          <ion-col class="sub-title">
            {{'clientone.info' | translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="input-border">
            <div class="label-1">
              {{'clientone.title1' | translate}}
            </div>
            <ion-select value="1" formControlName="title" interface="popover">
              <ion-select-option value="1">Mr.</ion-select-option>
              <ion-select-option value="2">Mlle.</ion-select-option>
              <ion-select-option value="3">M.</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="input-border" #NameInput>
            
            <ion-input type="text" placeholder=" {{'clientone.Fname' | translate}} *" formControlName="firstName" (ionBlur)="setDisplayName()" (ionChange)="validateName()"></ion-input>
          </ion-col>
  
        </ion-row>
        <ion-item *ngIf="firstName.errors?.required && firstName.touched" class="error">{{'COMPANYONE.firstName' | translate}}</ion-item>

        <ion-row >
          <ion-col class="input-border" >
            <div class="label-first">
              {{'clientone.Lname' | translate}}
            </div>
            <ion-input type="text" placeholder="{{'clientone.Lname' | translate}}" interface="popover" formControlName="lastName" (ionBlur)="setDisplayName()"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="input-border">
            <ion-input type="text" placeholder=" {{'clientone.company' | translate}}" formControlName="companyName" (ionBlur)="setDisplayName()"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="input-border">
            <div class="label-3">
              {{'ListeClient.display' | translate}}
            </div>
            <ion-select [value]="displayNameDefault1 || displayNameDefault2 || displayNameDefault3" interface="popover" formControlName="displayName">
              <ion-select-option *ngIf="displayNameDefault1.length != 0" [value]="displayNameDefault1">{{displayNameDefault1.substring(1)}}</ion-select-option>
              <ion-select-option *ngIf="displayNameDefault2.length != 0" [value]="displayNameDefault2">{{displayNameDefault2.substring(1)}}</ion-select-option>
              <ion-select-option *ngIf="displayNameDefault3.length != 0" [value]="displayNameDefault3">{{displayNameDefault3.substring(1)}}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col class="input-border" #EmailInput>
            <ion-input type="text" placeholder="{{'clientone.email' | translate}}" formControlName="email" (ionChange)="validateEmail()"></ion-input>
          </ion-col>
        </ion-row>
        <ion-item *ngIf="email.errors?.required && email.touched" class="error">{{ 'REGIS.alrt1inp2' | translate}}</ion-item>
        <ion-item *ngIf="email.errors?.pattern && email.touched && !email.errors?.['minlength']" class="error">{{ 'REGIS.alrt2inp2' | translate}}</ion-item>
        <ion-item *ngIf="email.errors?.['minlength'] && email.touched" class="error">{{ 'REGIS.alrt3inp2' | translate}}</ion-item>
        
        <ion-row>
          <ion-col class="input-border" #PhoneInput>
            <ion-input type="text" placeholder="{{'clientone.phone' | translate}}" formControlName="phone" (ionChange)="validatePhone()"></ion-input>
          </ion-col>
        </ion-row>
        <ion-item *ngIf="phone.errors?.required && phone.touched" class="error"> {{ 'COMPANYONE.telError1' | translate}}</ion-item>
        <ion-item *ngIf="phone.errors?.pattern && phone.touched" class="error"> {{ 'COMPANYONE.telError2' | translate}}</ion-item>
        <ion-item *ngIf="phone.errors?.['minlength'] && phone.touched" class="error"> {{ 'COMPANYONE.telError3' | translate}}</ion-item>

        <ion-row>
          <ion-col class="input-border" #WebInput>
            <ion-input type="text" placeholder="{{'clientone.website' | translate}}" formControlName="webSite" (ionChange)="validateWeb()"></ion-input>
          </ion-col>
        </ion-row>
        <ion-item *ngIf="webSite.errors?.pattern && webSite.touched" class="error">  {{ 'COMPANYONE.webError' | translate}}</ion-item>

      </ion-grid>
    </form>
  </div>
</ion-content>


<ion-row>
  <ion-col class="button3-color btn-radius" (click)="onSubmit()">
    <button class="btn padding-btn text-light text-btn">{{'COMPANYONE.ctn' | translate}}</button>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col class="icon-footer">
    <img src="../../assets/img/Groupe1.png">
  </ion-col>
</ion-row>
