<ion-list>
  <ion-item (click)="synthesis()">{{'popover.synth' | translate}}</ion-item>
  <ion-item (click)="timeline()">{{'popover.time' | translate}}</ion-item>
  <ion-item (click)="invoices()">{{'popover.invoice' | translate}}</ion-item>
  <ion-item>{{'popover.estimate' | translate}}</ion-item>
  <ion-item>{{'popover.del' | translate}}</ion-item>
  <ion-item>{{'popover.sr' | translate}}</ion-item>
  <ion-item (click)="payments()">{{'popover.pay' | translate}}</ion-item>
  <ion-item (click)="editClient()">{{'popover.edit' | translate}}</ion-item>
  <ion-item (click)="deleteClient()">{{'popover.supp' | translate}}</ion-item>
</ion-list>
