<ion-menu contentId="content">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <img src="../../assets/img/Groupe de masques 1.png">
        <ion-title>{{name}}</ion-title>
        <img src="../../assets/img/Path.png" class="path">
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-button (click)="logout()">Logout</ion-button>
      <ion-select [value]="companySelect" interface="popover" [routerLink]="[selectedPath]" routerDirection="root" (ionChange)="setCompany($event)">
        <ion-select-option *ngFor="let company of companyList" [value]="company">{{company.name}}</ion-select-option>
      </ion-select>
      <ion-list>
        <ion-list inset="true" class="list">
          <ion-accordion-group>
            <ion-accordion value="sales">
                <ion-item slot="header" class="ion-no-border">
                  <img src="../../assets/img/Icon awesome-toolbox.png" class="icone">Company Management
                </ion-item>
                <ion-list slot="content">
                  <ion-menu-toggle auto-hide="true" *ngFor="let page of companyManagementPages">
                    <ion-item [routerLink]="page.url" routerDirection="root" [class.active-item]="selectedPath === page.url" class="child" lines="none">
                      {{ page.title }}
                    </ion-item>
                  </ion-menu-toggle>
              </ion-list>
            </ion-accordion>
          </ion-accordion-group>
        </ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item [routerLink]="dashboard.url" routerDirection="root" [class.active-item]="selectedPath === dashboard.url">
            <img src="../../assets/img/Icon ionic-md-stats.png" class="icone icone-color" #iconeDashboard>{{ dashboard.title }}
          </ion-item>
        </ion-menu-toggle>
        <ion-list inset="true" class="list">
          <ion-accordion-group>
            <ion-accordion value="sales">
                <ion-item slot="header" lines="none">
                  <img src="../../assets/img/Icon metro-contacts-dialer.png" class="icone">Contacts
                </ion-item>
                <ion-list slot="content">
                  <ion-menu-toggle auto-hide="true" *ngFor="let page of contactsPages">
                    <ion-item [routerLink]="page.url" routerDirection="root" [class.active-item]="selectedPath === page.url" class="child" lines="none">
                      {{ page.title }}
                    </ion-item>
                  </ion-menu-toggle>
              </ion-list>
            </ion-accordion>
          </ion-accordion-group>
        </ion-list>
        <ion-list inset="true" class="list">
          <ion-accordion-group>
            <ion-accordion value="sales">
                <ion-item slot="header">
                  <img src="../../assets/img/Groupe 233.png" class="icone">Sales
                </ion-item>
                <ion-list slot="content">
                  <ion-menu-toggle auto-hide="true" *ngFor="let page of salesPages">
                    <ion-item [routerLink]="page.url" routerDirection="root" [class.active-item]="selectedPath === page.url" class="child">
                      {{ page.title }}
                    </ion-item>
                  </ion-menu-toggle>
              </ion-list>
            </ion-accordion>
          </ion-accordion-group>
        </ion-list>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content"></ion-router-outlet>
