<ion-header class="ion-no-border" (click)="goBack()" >

    <img src="../../assets/img/Icon material-arrow_back.png" class="icon-menu">
 
    <ion-title>{{'clientone.title' | translate}}</ion-title>
  
</ion-header>

<ion-content >
  <div class="rounded-card">
    
    <form [formGroup]="formData" (ngSubmit)="onSubmit">
      <ion-grid>
        <ion-row>
          <ion-col class="sub-title">
            {{'clienttwo.info' | translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="input-border">
            <div class="label-1">
              {{'clienttwo.type' | translate}}<span style="color:red">*</span>
            </div>
           
            <ion-select value="1"  name="type" formControlName="type"  interface="popover">
              <ion-select-option value="1">{{'clienttwo.Professional' | translate}}</ion-select-option>
              <ion-select-option value="2">{{'clienttwo.Particuler' | translate}}</ion-select-option>        
                </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="input-border">
            <ion-input type="text" placeholder="{{'clienttwo.tax' | translate}}" name="tax" formControlName="tax" ></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="input-border">
            <div class="label-2">
              {{'clienttwo.act' | translate}}
            </div>
            <ion-select [value]="activityDefault"  name="activity" formControlName="activity"  interface="popover">
              <ion-select-option *ngFor="let activity of activities" [value]="activity">{{activity.title}}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="input-border">
            <div class="label-3">
              {{'clienttwo.cur' | translate}}
            </div>
            <ion-select [value]="currencyDefault"  name="currency" formControlName="currency"  interface="popover">
              <ion-select-option *ngFor="let currency of currencies" [value]="currency">{{currency.title}}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="input-border">
            <div class="label-3">
              {{'clienttwo.deadline' | translate}}
            </div>
            <ion-select [value]="deadlineDefault"  name="deadline" formControlName="deadline"  interface="popover">
              <ion-select-option *ngFor="let deadline of deadlines" [value]="deadline">{{deadline.title}}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
       
      </ion-grid>
    </form>
  </div>
</ion-content>

<ion-row>
  <ion-col class="button3-color btn-radius" (click)="onSubmit()">
    <button class="btn padding-btn text-light text-btn">{{'COMPANYONE.ctn' | translate}}</button>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col class="icon-footer">
    <img src="../../assets/img/Groupe2.png">
  </ion-col>
</ion-row>