.icon-menu{
    float: left;
    position: relative;
    left: 30px;
    top: 5px;
}

.menu{
    transform: translate(-500%, -110%);
    float: right;
}
ion-content{
    transform: translateY(2%);
}
ion-title{
    text-align: center;
    color: #0B1D39;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 130%;
    font-weight: bold;
    position: absolute;
    left:12%
}
.ios ion-title{
   
    color: #0B1D39;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 130%;
    font-weight: bold;
    position: absolute;
    left:-8%;
    top:24%;
}
.input-border-crr{
    border: solid #44C4A1 !important;
    border-radius: 5px;
  
}

.input-border-err{
    border: solid #E56353 !important;
    border-radius: 5px;
   

}
.error{
    color: #e56353;
    font-family: 'Medium';
    font-size: small;
    transform: translate(3%, -30%);
    height: 30px;
}

ion-header{
    padding-top: 5%;
   
}

.rounded-card{
    --background: #FFFFFF;
 
}

.sub-title{
    transform: translateX(5%);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-top: 4%;
}

.input-border{
    border: solid rgba(0, 0, 0, .12);
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.label-1{
    transform: translate(40%, -90%);
    font-size: 70%;
    padding-left: 2%;
    padding-right: 2%;
    font-family: "Book";
    color: #00000099;
    font-weight: 900;
    position: absolute;
    background-color: white;
}

.label-2{
    transform: translate(20%, -90%);
    font-size: 70%;
    padding-left: 2%;
    padding-right: 2%;
    font-family: "Book";
    color: #00000099;
    font-weight: 900;
    position: absolute;
    background-color: white;
}

.label-3{
    transform: translate(15%, -90%);
    font-size: 70%;
    padding-left: 2%;
    padding-right: 2%;
    font-family: "Book";
    color: #00000099;
    font-weight: 900;
    position: absolute;
    background-color: white;
}

.button3-color{
    background-color: #0E78E0 ;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 25px;
    margin-left: 25px;
    text-align: center;
}

.btn-radius{
    border-radius: 50px;
}

.padding-btn{
    padding: 10px;
}

.text-btn{
    font-weight: 100;
    font-size: 12px;
    font-family: 'Medium';
}

ion-input{
    --placeholder-color: #00000099;
    --ion-font-family: 'Book';
    font-weight: 550;
    margin-left: 4%;
}

ion-textarea{
    --placeholder-color: #00000099;
    --ion-font-family: 'Book';
    font-weight: 550;
    margin-left: 5%;
    margin-right: 5%;
    padding-right: 5%;
}

ion-select{
    --ion-font-family: 'Book';
    font-weight: 550;
}