<ion-header class="ion-no-border" (click)="goBack()">
    <img src="../../assets/img/Icon material-arrow_back.png" class="icon-menu">
    <ion-title>{{dispalyDefault}}</ion-title>
    <!---->
</ion-header>

<ion-content>
  <div class="rounded-card"> 
     <form [formGroup]="formData" (ngSubmit)="onSubmit()">
       <ion-grid>
         <ion-row>
           <ion-col class="sub-title">
            {{'clientone.info' | translate}}
           </ion-col>
         </ion-row>
         <ion-row>
           <ion-col class="input-border">
            <div class="label-1">
              {{'clientone.title1' | translate}}
            </div>
             <ion-select value="1" formControlName="title" interface="popover">
               <ion-select-option value="1">Mr.</ion-select-option>
               <ion-select-option value="2">Mlle.</ion-select-option>
               <ion-select-option value="3">M.</ion-select-option>
             </ion-select>
           </ion-col>
         </ion-row>
         <ion-row>
           <ion-col class="input-border" #NameInput>
            <div class="label-2" >
              {{'clientone.Fname' | translate}}

            </div>
             <ion-input type="text" placeholder="{{'clientone.Fname' | translate}}" formControlName="first_name" (ionChange)="validateName()"></ion-input>
           </ion-col>
         </ion-row>
         <ion-item *ngIf="first_name.errors?.required && first_name.touched" class="error"> {{'COMPANYONE.firstName' | translate}}</ion-item>

         <ion-row>
           <ion-col class="input-border">
            <div class="label-2">
              {{'clientone.Lname' | translate}}

            </div>
            <ion-input type="text" placeholder="{{'clientone.Lname' | translate}}" formControlName="last_name"></ion-input>
           </ion-col>
         </ion-row>
   
         <ion-row>
          <ion-col class="input-border">
           <div class="label-2">
            {{'clientone.company' | translate}}
           </div>
           <ion-input type="text" placeholder="{{'clientone.company' | translate}}" formControlName="organisation"></ion-input>
          </ion-col>
         </ion-row>
         
         <ion-row>
          <ion-col class="input-border">
           <div class="label-3">
            {{'ListeClient.display' | translate}}           </div>
           <ion-select  formControlName="display_name" interface="popover">
            <ion-select-option *ngIf="displayNameDefault1" [value]="displayNameDefault1">{{displayNameDefault1}}</ion-select-option>
            <ion-select-option *ngIf="displayNameDefault2" [value]="displayNameDefault2">{{displayNameDefault2}}</ion-select-option>
            <ion-select-option *ngIf="displayNameDefault3" [value]="displayNameDefault3">{{displayNameDefault3}}</ion-select-option>
          </ion-select>
          </ion-col>
         </ion-row>
         <ion-row>
          <ion-col class="input-border" #EmailInput>
           <ion-input type="email" placeholder="{{'clientone.email' | translate}}" name="email" formControlName="email" (ionChange)="validateEmail()"></ion-input>
          </ion-col>
         </ion-row>
         <ion-item *ngIf="email.errors?.required && email.touched" class="error">{{ 'REGIS.alrt1inp2' | translate}}</ion-item>
         <ion-item *ngIf="email.errors?.pattern && email.touched && !email.errors?.['minlength']" class="error">{{ 'REGIS.alrt2inp2' | translate}}</ion-item>
         <ion-item *ngIf="email.errors?.['minlength'] && email.touched" class="error">{{ 'REGIS.alrt3inp2' | translate}}</ion-item>
         <ion-row>
          <ion-col class="input-border" #PhoneInput>
           <ion-input type="text" placeholder="{{'clientone.phone' | translate}}" name="phone" formControlName="phone" (ionChange)="validatePhone()"></ion-input>
          </ion-col>
         </ion-row>
         <ion-item *ngIf="phone.errors?.required && phone.touched" class="error"> {{ 'COMPANYONE.telError1' | translate}}</ion-item>
         <ion-item *ngIf="phone.errors?.pattern && phone.touched" class="error"> {{ 'COMPANYONE.telError2' | translate}}</ion-item>
         <ion-item *ngIf="phone.errors?.['minlength'] && phone.touched" class="error"> {{ 'COMPANYONE.telError3' | translate}}</ion-item>
 
         <ion-row>
          <ion-col class="input-border" #WebInput>
           <ion-input type="text" placeholder="{{'clientone.website' | translate}}" formControlName="website" (ionChange)="validateWeb()"></ion-input>
          </ion-col>
         </ion-row>
         <ion-item *ngIf="website.errors?.pattern && website.touched" class="error">  {{ 'COMPANYONE.webError' | translate}}</ion-item>

        <ion-row>
          <ion-col class="sub-title">
            {{'clienttwo.info' | translate}}
        </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="input-border">
           <div class="label-1">
            {{'clienttwo.type' | translate}}

           </div>
            <ion-select  interface="popover" formControlName="type">
              <ion-select-option value="1">{{'clienttwo.Professional' | translate}}</ion-select-option>
              <ion-select-option value="2">{{'clienttwo.Particuler' | translate}}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="input-border">
            <ion-input type="text" name="fiscal_id" formControlName="fiscal_id" placeholder="{{'clienttwo.tax' | translate}}"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="input-border">
           <div class="label-2">
            {{'clienttwo.act' | translate}}

           </div>
            <ion-select [value]="activityDefault" interface="popover" formControlName="activity">
              <ion-select-option *ngFor="let activity of activities" [value]="activity">{{activity.title}}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="input-border">
           <div class="label-3">
            {{'clienttwo.cur' | translate}}

           </div>
            <ion-select [value]="currencyDefault" interface="popover" formControlName="currency">
              <ion-select-option *ngFor="let currency of currencies" [value]="currency">{{currency.title}}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="input-border">
           <div class="label-3">
            {{'clienttwo.deadline' | translate}}
           </div>
            <ion-select [value]="deadlineDefault" interface="popover" formControlName="deadline">
              <ion-select-option *ngFor="let deadline of deadlines" [value]="deadline">{{deadline.title}}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="sub-title">
            {{'clientthree.info' | translate}}
        </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="input-border">
            <ion-input type="text" placeholder="{{'clientthree.adr' | translate}}" formControlName="billadress"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="input-border">
            <ion-input type="text" placeholder="{{'clientthree.state' | translate}}" name="billstate" formControlName="billstate"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="input-border">
            <ion-input type="text" placeholder="{{'clientthree.zip' | translate}}" name="billzipcode" formControlName="billzipcode"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="input-border">
           <div class="label-2">
            {{'clientthree.country' | translate}}
           </div>
            <ion-select [value]="countryDefault" interface="popover" formControlName="Country">
              <ion-select-option *ngFor="let country of countries" [value]="country">{{country.title}}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="sub-title">
            {{'clientthree.del' | translate}}
        </ion-col>
        </ion-row>   
        <ion-row>
       
          <ion-col class="input-border">
            <ion-input type="text" placeholder="{{'clientthree.adr' | translate}}" name="Dadress" formControlName="Dadress"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="input-border">   
         
            <ion-input type="text" placeholder="{{'clientthree.state' | translate}}" name="Dstate" formControlName="Dstate"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="input-border">
            <ion-input type="text" placeholder="{{'clientthree.zip' | translate}}" name="Dzipcode" formControlName="Dzipcode"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="input-border">
           <div class="label-2">
            {{'clientthree.country' | translate}}
           </div>
            <ion-select value="1" [value]="DcountryD" name="DCountry" formControlName="DCountry" interface="popover">
              <ion-select-option *ngFor="let country of countries" [value]="country">{{country.title}}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="sub-title">
            {{'clientthree.note' | translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="input-border">
            <ion-textarea rows="6" cols="20" name="note" formControlName="note" placeholder="{{'clientthree.placeholder' | translate}}">

            </ion-textarea>
          </ion-col>
        </ion-row>
       </ion-grid>
     </form>
   </div>
 </ion-content>

 <ion-footer class="ion-no-border">
    <ion-grid>
      <ion-row>
        <ion-col class="button3-color btn-radius" (click)="onSubmit()">
          <button class="btn padding-btn text-light text-btn">{{'clientthree.ctn' | translate}}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
 </ion-footer>
