<ion-content [fullscreen]="true">
  <div  class="rounded-input">
    <p class="icons-lang">
      <img src="../../assets/img/Icons-Flag-Tunisia.png" class="flag" (click)="setLang('ar')">
      <img src="../../assets/img/Icons-Flag-United-states-of-america.png" class="flag" (click)="setLang('en')">
      <img src="../../assets/img/Icons-Flag-France.png" class="flag" (click)="setLang('fr')">
    </p>
    <div class="ionheader" collapse="condense">
      {{ 'REGIS.title' | translate}}
    </div>
    <div id="containerCss">
      <form [formGroup]="formData" (ngSubmit)="onSubmit">
        <ion-list lines="full" class="ion-no-margin">
          <div class="input-border">
            <ion-item lines="none">
              <ion-input placeholder="{{ 'REGIS.input1' | translate}}" type="text" formControlName="name"></ion-input>
            </ion-item>
          </div>
          <ion-item *ngIf="name.errors?.required && name.touched" class="error">{{ 'REGIS.alrt1inp1' | translate}}</ion-item>
          <div class="input-border">
            <ion-item lines="none">
              <ion-input placeholder="{{ 'REGIS.input2' | translate}}" type="text" formControlName="email" minlength="7"></ion-input>
            </ion-item>
          </div> 
          <ion-item *ngIf="email.errors?.required && email.touched" class="error">{{ 'REGIS.alrt1inp2' | translate}}</ion-item>
          <ion-item *ngIf="email.errors?.pattern && email.touched && !email.errors?.['minlength']" class="error">{{ 'REGIS.alrt2inp2' | translate}}</ion-item>
          <ion-item *ngIf="email.errors?.['minlength'] && email.touched" class="error">{{ 'REGIS.alrt3inp2' | translate}}</ion-item>
          <div class="input-border">
            <ion-item lines="none">
              <ion-input placeholder="{{ 'REGIS.input3' | translate}}" type="password" id="pass" formControlName="password"  minlength="7"></ion-input>
              <a class="type-toggle" (click)="toggleShow()">
                <img src="../../assets/img/Trailing icon.png">
              </a>
            </ion-item>
          </div>
          <ion-item *ngIf="password.errors?.required && password.touched" class="error">{{ 'REGIS.alrt1inp3' | translate}}</ion-item>
          <ion-item *ngIf="password.errors?.['minlength'] && password.touched" class="error">{{ 'REGIS.alrt2inp3' | translate}}</ion-item>
        </ion-list>
        <ion-grid>
          <div class="container-1">
            <ion-row>
              <ion-col class="button3-color btn-radius" (click)="onSubmit()">
                <button class="btn" type="submit"><span class="text-btn text-light">{{ 'REGIS.btn3' | translate}}</span></button>
              </ion-col>
            </ion-row>
          </div>
          <div class="container-2">
            <ion-label class="label label-footer">
              {{'REGIS.info3' | translate}}
            </ion-label>
            <ion-row>
              <ion-col class="button1-color btn-radius">
                <img src="../../assets/img/Icon awesome-facebook-f.png">
                <a class="btn"><span class="text-btn text-light">{{ 'REGIS.btn1' | translate}}</span></a>
              </ion-col>
              <ion-col class="button2-color btn-radius" (click)="googleSignup()">
                <img src="../../assets/img/Icon awesome-google.png">
                <a class="btn"><span class="text-btn text-light">{{ 'REGIS.btn2' | translate}}</span></a>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </form>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <ion-text routerLink="/login" routerLinkActive="active" class="label-1">{{ 'REGIS.info2' | translate}}</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-footer>
