<ion-content [fullscreen]="true">
  <div  class="rounded-input">
    <p class="icons-lang">
      <img src="../../assets/img/Icons-Flag-Tunisia.png" class="flag" (click)="setLang('ar')">
      <img src="../../assets/img/Icons-Flag-United-states-of-america.png" class="flag" (click)="setLang('en')">
      <img src="../../assets/img/Icons-Flag-France.png" class="flag" (click)="setLang('fr')">
    </p>
    <div class="ionheader" collapse="condense">
      {{ 'REGIS.title' | translate}}
    </div>
    <div id="containerCss">
      <form [formGroup]="formData" (ngSubmit)="onSubmit">
        <ion-list lines="full" class="ion-no-margin">
          
          <div class="input-border" #nameInput >
            <ion-item lines="none">
              <ion-input placeholder="{{ 'REGIS.input1' | translate}}" type="text" formControlName="name" (ionChange)="validateName()" ></ion-input>
            </ion-item>
          </div>
          <ion-item *ngIf="name.errors?.required && name.touched" class="error">{{ 'REGIS.alrt1inp1' | translate}}</ion-item>
          <div class="input-border" #emailInput>
            <ion-item lines="none">
              <ion-input placeholder="{{ 'REGIS.input2' | translate}}" type="text" formControlName="email"  (ionChange)="validateEmail()" minlength="7"></ion-input>
            </ion-item>
          </div> 
          <ion-item *ngIf="email.errors?.required && email.touched" class="error">{{ 'REGIS.alrt1inp2' | translate}}</ion-item>
          <ion-item *ngIf="email.errors?.pattern && email.touched && !email.errors?.['minlength']" class="error">{{ 'REGIS.alrt2inp2' | translate}}</ion-item>
          <ion-item *ngIf="email.errors?.['minlength'] && email.touched" class="error">{{ 'REGIS.alrt3inp2' | translate}}</ion-item>
          <div class="input-border" #telInput>
            <ion-item lines="none">
              <ion-input placeholder="{{ 'REGIS.telinput' | translate}}" type="text" id="tel" formControlName="tel"  (ionChange)="validateTel()" minlength="8"></ion-input>
            </ion-item>
          </div> 
          <ion-item *ngIf="tel.errors?.required && tel.touched" class="error">{{ 'REGIS.alerttel' | translate}}</ion-item>
          <ion-item *ngIf="tel.errors?.pattern && tel.touched" class="error"> {{ 'COMPANYONE.telError2' | translate}}</ion-item>
          <ion-item *ngIf="tel.errors?.['minlength'] && tel.touched" class="error"> {{ 'COMPANYONE.telError3' | translate}}</ion-item>

          <div class="input-border" #passInput>
            <ion-item lines="none">
              <ion-input placeholder="{{ 'REGIS.input3' | translate}}" type="password" id="pass" formControlName="password" (ionChange)="validatePass()" minlength="8"></ion-input>
              <a class="type-toggle" (click)="toggleShow()">
                <img src="../../assets/img/Trailing icon.png">
              </a>
            </ion-item>
          </div>
          <ion-item *ngIf="password.errors?.required && password.touched" class="error">{{ 'REGIS.alrt1inp3' | translate}}</ion-item>
          <ion-item *ngIf="password.errors?.['minlength'] && password.touched" class="error">{{ 'REGIS.alrt2inp3' | translate}}</ion-item>
        </ion-list>
        <ion-grid>
          <div class="container-1">
            <ion-col  >
              <ion-button shape="round" color="primary" class="btn-reg" (click)="onSubmit()">
                <span >{{ 'REGIS.btn3' | translate}}</span>
              </ion-button>
              
            </ion-col>
          
          </div>
          <div class="container-2">
            <ion-label class="label label-footer">
              {{'REGIS.info3' | translate}}
            </ion-label>
            <!---facebook and google signup----->
            <ion-row>
              <ion-col class="button1-color btn-radius">
                <ion-button shape="round" color="tertiary"><img src="../../assets/img/Icon awesome-facebook-f.png">
                  <a  (click)="facebookSignup()"><span style="color: white;" >{{ 'REGIS.btn1' | translate}}</span></a>

                </ion-button>

                
              </ion-col>
              <ion-col class="button2-color btn-radius">
                <ion-button shape="round" color="danger" (click)="googleSignup()"><img src="../../assets/img/Icon awesome-google.png">
                  <a  (click)="googleSignup()"><span style="color: white;">{{ 'REGIS.btn2' | translate}}</span></a>

                </ion-button>
                
              </ion-col>
            </ion-row>
            <!-------->

          </div>
        </ion-grid>
      </form>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <ion-text routerLink="/login" routerLinkActive="active" class="label-1">{{ 'REGIS.info2' | translate}}</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-footer>
