<ion-header class="ion-no-border" (click)="goBack()">
 
    <img src="../../assets/img/Icon material-arrow_back.png" class="icon-menu">
    <ion-title>{{name}}</ion-title>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="rounded-card center margin-1">
        <img src="../../assets/img/Icons - Widget Illustration2.png">
        <div class="card-content-1"> 
        {{'synthesie.payment' | translate}}
        </div>
        <div class="card-content-2">
          {{incomesTotal.toFixed(2)}}<sup class="card-content-3">TND</sup>
        </div>
      </ion-col>
      <ion-col class="rounded-card center margin-2">
        <img src="../../assets/img/Icons - Widget Illustration1.png">
        <div class="card-content-1"> 
          {{'synthesie.balance' | translate}}
        </div>
        <div class="card-content-2">
          {{unpaid.toFixed(2)}}<sup class="card-content-3">TND</sup>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="rounded-card center margin-1">
        <img src="../../assets/img/Icons - Widget Illustration3.png">
        <div class="card-content-1"> 
          {{'synthesie.invoces' | translate}}

        </div>
        <div class="card-content-2">
          {{invoicesTotal.toFixed(2)}}<sup class="card-content-3">TND</sup>
        </div>
      </ion-col>
      <ion-col class="rounded-card center margin-2">
        <img src="../../assets/img/Icons - Widget Illustration.png">
        <div class="card-content-1"> 
          {{'synthesie.estimat' | translate}}
        </div>
        <div class="card-content-2">
          {{estimatesTotal.toFixed(2)}}<sup class="card-content-3">TND</sup>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="rounded-card margin-3">
    <div class="card2-content">
      {{'synthesie.exercice' | translate}}
    </div>
    <div class="chart">
 <ion-grid>

      <ion-row>
        <ion-col class="subtitle-card-1">
          
          <div class="square" id="element1"></div>
          <span id="element2" >{{'DASH.subTitle1Card1' | translate}}</span>

        </ion-col>
        <ion-col class="subtitle-card-1">
          <div class="square1" id="element1"></div>

          <span id="element2">{{'DASH.subTitle2Card1' | translate}}</span>
        </ion-col>
        <ion-col class="subtitle-card-1">
          <div class="square2" id="element1"></div>

         <span id="element2"> {{'DASH.subTitle3Card1' | translate}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ind-card-1">
         {{this.estimatesTotal}} K+
        </ion-col>
        <ion-col class="ind-card-1">
          {{this.invoicesTotal }} K+
        </ion-col>
        <ion-col class="ind-card-1">
          {{this.incomesTotal }} K+
        </ion-col>
      </ion-row>
    </ion-grid>
    </div>
    <div id="container">
   
    </div>
  </div>

</ion-content>
