<ion-header class="ion-no-border">
 
    <img src="../../assets/img/Icon open-menu.png" class="icon-menu">
    <ion-menu-toggle>
    <ion-title>{{'ListeClient.title' | translate}}</ion-title>
    </ion-menu-toggle>

</ion-header>

<ion-content  [fullscreen]="true"   >
  <div *ngIf="c?.length==0">
    <img src="../../assets/img/nodata.png" class="img" >
    <div class="empty-par">
      {{'empty.line1' | translate}}<br>
      {{'empty.line2' | translate}}<br>
      {{'empty.line3' | translate}}


    </div>
  </div>
  <div *ngIf="c?.length >0">
  <ion-grid class="first-gird">
    <ion-row>
      <ion-col class="input-border-search" size="6">
        <ion-input placeholder="{{'ListeClient.search' | translate}}" [(ngModel)]="Search" class="input-search">
          <img src="../../assets/img/Icon awesome-search.png" class="search-img">
        </ion-input>
      </ion-col>
      <ion-col class="input-border-display-name">
        <ion-label class="display-name-label">{{'ListeClient.display' | translate}}</ion-label>
        <img src="../../assets/img/Icon metro-sort-desc.png" >
      </ion-col>
    </ion-row>
  </ion-grid>
    <ion-grid>
      <ion-row *ngFor="let client of c|contactclients:Search; let i = index" class="input-border" id="{{i}}">
        <ion-col>
          <div class="display-name">{{client.first_name}} {{client.last_name}}</div>
          <div class="company">{{client.organisation}}</div>
        </ion-col>
        <ion-col>
          <div *ngIf="client.unpaid == 0" class="price-1">{{client.unpaid.toFixed(2)}} {{client.currency.iso_code
          }}  </div>
          <div *ngIf="client.unpaid != 0" class="price-2"> </div>
          
          <img src="../../assets/img/Tracé 468.png"  class="menu-item" (click)="openPopover($event, client.hashed_id, i)">
       
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
    <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="newClient()">
        <img src="../../assets/img/Groupe 168.png" class="icone-add">
      </ion-fab-button>
    </ion-fab>
    <ion-infinite-scroll *ngIf="c?.length >0" threshold="100px" (ionInfinite)="loadData($event)" [disabled]="numTimesLeft <= 0">  
      <ion-infinite-scroll-content  
        loadingSpinner="bubbles"  
        loadingText="Loading more data...">  
      </ion-infinite-scroll-content>  
    </ion-infinite-scroll>  
  
</ion-content>
