<div class="rounded-card"> 
  <h1 class="ion-no-border">{{'NOINTERNET.title' | translate}}</h1>

  <img src="../../assets/img/NoInternet.PNG" align-items-center>
<div class="text">{{'NOINTERNET.text1' | translate}} <br>{{'NOINTERNET.text2' | translate}}<br>{{'NOINTERNET.text3' | translate}}</div>
</div>
<ion-footer class="ion-no-border">
  <ion-grid>
    
    <ion-row>
      <ion-col class="button3-color btn-radius" >
        <button class="btn padding-btn text-light text-btn" (click)="onSubmit()">{{'NOINTERNET.btn' | translate}}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
