<ion-content [fullscreen]="true">
  <div class="rounded-card">
    <div class="ionheader" collapse="condense">
      <img src="../../assets/img/Icon material-arrow_back.png" class="precedent" (click)="goBack()">
      <span class="title">{{ 'VALID.title' | translate}}</span>
    </div>
      <form [formGroup]="formData" (ngSubmit)="onSubmit" class="form-height">
        <img class="container-1" src="../../assets/img/Groupe 31.png">
        <div class="content">
          {{ 'VALID.body' | translate}}
        </div>
        <ion-item lines="none" class="container-2">
          <ion-input type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');this.value.length>1?this.value=this.value.charAt(0):null;" class="roundedInput" formControlName="num1" (ionInput)="nextNum('num1')"></ion-input>
          <ion-input type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');this.value.length>1?this.value=this.value.charAt(0):null;" class="roundedInput" formControlName="num2" (ionInput)="nextNum('num2')" #input2></ion-input>
          <ion-input type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');this.value.length>1?this.value=this.value.charAt(0):null;" class="roundedInput" formControlName="num3" (ionInput)="nextNum('num3')" #input3></ion-input>
          <ion-input type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');this.value.length>1?this.value=this.value.charAt(0):null;" class="roundedInput" formControlName="num4" #input4></ion-input>
        </ion-item>
      </form>
  </div>
</ion-content>

<ion-footer class="ion-no-border" #footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col class="content-footer">
          {{ 'VALID.info' | translate}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="button3-color btn-radius" (click)="onSubmit()">
          <button class="btn padding-btn text-light text-btn">{{ 'VALID.btn' | translate}}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
