<ion-header class="ion-no-border" (click)="goBack()">
 
    <img src="../../assets/img/Icon material-arrow_back.png" class="icon-menu" >
    <ion-title>{{'ListeClient.title' | translate}}</ion-title>
  
</ion-header>

<ion-content>
  <div class="rounded-card">
    <form>
      <ion-grid>
        <ion-row>
          <ion-col class="sub-title">
            {{'clientthree.info' | translate}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="input-border">
            <ion-input type="text" class="placeholder-color" placeholder="{{'clientthree.adr' | translate}}" [(ngModel)]="address" name="address"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="input-border">
            <ion-input type="text" placeholder="{{'clientthree.state' | translate}}" [(ngModel)]="state" name="state"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="input-border">
            <ion-input type="number" class="placeholder-color" placeholder="{{'clientthree.zip' | translate}}" [(ngModel)]="zipCode" name="zipCode"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="input-border">
            <div class="label-2">
              {{'clientthree.country' | translate}}
            </div>
            <ion-select [value]="countryDefault" interface="popover" [(ngModel)]="countrySend" name="country">
              <ion-select-option *ngFor="let country of countries" [value]="country">{{country.title}}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  
    <ion-grid>
      <ion-row>
        <ion-col class="button3-color btn-radius" (click)="onSubmit()">
          <button class="btn padding-btn text-light text-btn">{{'COMPANYONE.ctn' | translate}}</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="icon-footer">
          <img src="../../assets/img/Groupe3.png">
        </ion-col>
      </ion-row>
    </ion-grid>
 
</ion-footer>


