.button3-color{

    text-align: center;
}

.btn-radius{
    border-radius: 35px;
}

.text-btn{
    font-size: 12px;
    font-family: 'Medium';
}
.login-btn{
    width: 60%;
}
.rounded-card {
    --background: #FFFFFF;
    box-shadow: 1px 1px 5px #a6bcd000 , 1px 1px 5px #A6BCD0 ;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: center;
    height: 99.5%;
}

.ionheader{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    transform: translate(0px, 20%);
}

 ion-title{
    color: #0B1D39;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    left: 9%;
    margin-top: -1%; 
    left: 10%;
}
.ios ion-title{
    color: #0B1D39;
    font-size: 23px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute; 
    left: -8%;
    margin-top: 0%;
}

  ion-header{
    height:10% ;
    padding-top: 3%;
    overflow: hidden;

}

.ios ion-header{
    height:10% ;
 
}





.precedent{
    float: left;
    position: relative;
    left: 5%;
    bottom: 0%;
}
.ios .precedent{
    float: left;
    position: relative;
    left: 5%;
    margin-top: 15px;
}
.ios ion-radio{
    border: 2px solid ;
    border-color: #306FEA;
    border-radius: 50%;
    display: flex;
    width: 17px;
  height: 17px;
}

 .md ion-radio{
    --color: #0064D9;

}

#container {
    text-align: left;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(5%);
}

.info-1{
    transform: translateY(-35%);
    color: #A6BCD0;
    font-family: 'Medium';
}

.info-2{
    transform: translateY(-70%);
    color: #A6BCD0;
    font-family: 'Light';
    font-size: 90%;
}

.info-2-1{
    transform: translateY(-70%);
    color: #A6BCD0;
    font-family: 'Light';
    font-size: 80%;
}

.label{
    font-size: 100%;
    color: #A6BCD0;
    font-weight: 590;
    font-family: 'Medium';
    position: relative;
    left: 7%;
}

.select{
    transform: translateX(145%);
    margin: 7%;
    background-color: #F0F4F8;
    border-radius: 10%;
    color: #A6BCD0;
    width: 35%;
}

.plan{
    transform: translateY(-5%);
}

.card{
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    border-radius: 5%;
    margin-left: 7%;
    margin-right: 7%;
    height: 140px;
}

.card-end{
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    border-radius: 5%;
    margin-left: 7%;
    margin-right: 7%;
    height: 130px;
    margin-bottom: 10%;
}

.title-card{
    font-family: 'Medium';
    color: #0E78E0;
}

.card-content-ios{
    padding-top: 0px;
    padding-bottom: 0px;
}

.input-border{
    border: solid rgb(14, 120, 224, 0.4);
    border-radius: 5px;
}


