<ion-header  class="bar bar-header bar-light" >

  <img src="../../assets/img/Icon material-arrow_back.png" class="precedent" (click)="goBack()">
  <ion-title >
    {{'SUBSCRIPTION.title' | translate}}
  </ion-title>


</ion-header>

<ion-content    padding scrollingHeader scrollEvents="true"   >
  <div class="rounded-card">
    <div id="container">
      <form [formGroup]="formData" (ngSubmit)="onSubmit"> 
        <ion-label class="label container-1">
          {{'SUBSCRIPTION.description' | translate}} <br>{{'SUBSCRIPTION.after-br'| translate}}
        </ion-label>
        <ion-select class="select" value="1" interface="popover" formControlName="type" (ionChange)="changePrice()">
          <ion-select-option value="1"> {{'SUBSCRIPTION.year' | translate}}</ion-select-option>
          <ion-select-option value="0"> {{'SUBSCRIPTION.month' | translate}}</ion-select-option>
        </ion-select>
        <ion-list lines="none" class="plan" >
          <ion-radio-group value="Dl" formControlName="plan">
            <ion-card class="card input-border" id="free">
              <ion-card-content>
                <ion-item (click)="setBorder('free')">
                  <ion-label class="title-card">{{subscriptionFree.title}}

                  </ion-label>
                  <ion-radio slot="start" color="tertiary" value="Dx"></ion-radio>
                </ion-item>
                <ion-item class="info-1" *ngIf="this.formData.value.type == 1">
                  0.00 {{'SUBSCRIPTION.priceYear' | translate}}
                </ion-item>
                <ion-item class="info-1" *ngIf="this.formData.value.type == 0">
                  0.00 {{'SUBSCRIPTION.priceMonth' | translate}}
                </ion-item>
                <ion-item class="info-2">
                  {{subscriptionFree.description}}                
                </ion-item>
              </ion-card-content>
            </ion-card>
            <ion-card class="card" id="startup">
              <ion-card-content>
                <ion-item (click)="setBorder('startup')">
                  <ion-label class="title-card">{{subscriptionPremuim.title}}</ion-label>
                  <ion-radio slot="start" color="tertiary" value="Ev"></ion-radio>
                </ion-item>
                <ion-item class="info-1" *ngIf="this.formData.value.type == 1">
                  {{startupprice}} {{'SUBSCRIPTION.priceYear' | translate}}
                </ion-item>
                <ion-item class="info-1" *ngIf="this.formData.value.type == 0">
                  {{startupprice}} {{'SUBSCRIPTION.priceMonth' | translate}}
                </ion-item>
                <ion-item class="info-2">
                  {{subscriptionPremuim.description}}                  </ion-item>
              </ion-card-content>
            </ion-card>
      
          </ion-radio-group>
        </ion-list>
      </form> 
    </div>
  </div>
  
</ion-content>



      <ion-row>
        <ion-col class="button3-color btn-radius" (click)="onSubmit()">
          <ion-button shape="round" class="login-btn" >{{'SUBSCRIPTION.btn-continu' | translate}}</ion-button>

        </ion-col>
      </ion-row>
 

