<ion-header class="ion-no-border">
 
    <p class="icons-lang">
      <img src="../../assets/img/Icons-Flag-Tunisia.png" class="flag" (click)="setLang('ar')">
      <img src="../../assets/img/Icons-Flag-United-states-of-america.png" class="flag" (click)="setLang('en')">
      <img src="../../assets/img/Icons-Flag-France.png" class="flag" (click)="setLang('fr')">
    </p>
    <div class="content-title">
      <ion-menu-toggle autoHide="true">
        <img class="icon-menu" src="../../assets/img/Icon open-menu.png">
      </ion-menu-toggle>
      <ion-title class="title-header">
        {{'DASH.title' | translate}}
      </ion-title>
    </div>

</ion-header>

<ion-content>
  <div class="content">
    <div class="title-content-1">{{companyName}}</div>
    <div class="title-content-2">{{'DASH.subTitle' | translate}}, {{name}}</div>
    <ion-card class="card-1">
      <ion-card-content>
        <div class="title-card-1">
          {{'DASH.titleCard1' | translate}}
        </div>
        <ion-grid>
          <ion-row>
            <ion-col class="val-card-1">
              {{estimatesSum.toFixed(2)}}
            </ion-col>
            <ion-col class="val-card-1">
              {{invoicesSum.toFixed(2)}}
            </ion-col>
            <ion-col class="val-card-1">
              {{incomesSum.toFixed(2)}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="subtitle-card-1">
              {{'DASH.subTitle1Card1' | translate}}
            </ion-col>
            <ion-col class="subtitle-card-1">
              {{'DASH.subTitle2Card1' | translate}}
            </ion-col>
            <ion-col class="subtitle-card-1">
              {{'DASH.subTitle3Card1' | translate}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ind-card-1">
              {{'DASH.indCard' | translate}}
            </ion-col>
            <ion-col class="ind-card-1">
              {{'DASH.indCard' | translate}}
            </ion-col>
            <ion-col class="ind-card-1">
              {{'DASH.indCard' | translate}}
            </ion-col>
          </ion-row>
        </ion-grid>
        <div id="container" (window:resize)="onResize()">
          
        </div>
      </ion-card-content>
    </ion-card>
    <div class="title-content-3">
      {{'DASH.title1' | translate}}
    </div>
    <ion-grid>
      <ion-row>
        <ion-col class="rounded-card">
          <ion-grid>
            <ion-row class="icon-list-card">
              <img src="../../assets/img/Icon awesome-file-invoice-dollar.png">
            </ion-row>
            <ion-row class="title-list-card">
              {{'DASH.title1ListCard' | translate}}
            </ion-row>
            <ion-row class="val-list-card">
              {{totalBalance.toFixed(2)}}
              <sub class="ind-list-card">{{'DASH.indCard' | translate}}</sub>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col class="rounded-card">
          <ion-grid>
            <ion-row class="icon-list-card">
              <img src="../../assets/img/Groupe 1.png">
            </ion-row>
            <ion-row class="title-list-card">
              {{'DASH.title2ListCard' | translate}}
            </ion-row>
            <ion-row class="val-list-card">
              {{totalIncomes.toFixed(2)}}
              <sub class="ind-list-card">{{'DASH.indCard' | translate}}</sub>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col class="rounded-card">
          <ion-grid>
            <ion-row class="icon-list-card">
              <img src="../../assets/img/Groupe 171.png">
            </ion-row>
            <ion-row class="title-list-card">
              {{'DASH.title3ListCard' | translate}}
            </ion-row>
            <ion-row class="val-list-card">
              {{totalOutcomes.toFixed(2)}}
              <sub class="ind-list-card">{{'DASH.indCard' | translate}}</sub>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card class="card-2">
      <ion-card-content>
        <div class="title-card-2">
          {{'DASH.titleCard2' | translate}}
        </div>
        <figure class="">
       
          <div id="container1"></div>
        </figure>
        <div class="chart">
          <ion-grid>
         
               <ion-row>
                 <ion-col class="subtitle-card-1">
                   
                   <div class="square" id="element1"></div>
                   <span id="element2" >{{cat2key[0]}}</span>
         
                 </ion-col>
                 <ion-col class="subtitle-card-1">
                   <div class="square1" id="element1"></div>
         
                   <span id="element2">{{cat2key[1]}}</span>
                 </ion-col>
              
               </ion-row>
               <ion-row>
                <ion-col class="subtitle-card-1">
                  
                  <div class="square2" id="element1"></div>
                  <span id="element2" >{{cat2key[2]}}</span>
        
                </ion-col>
                <ion-col class="subtitle-card-1">
                  <div class="square3" id="element1"></div>
        
                  <span id="element2">{{cat2key[3]}}</span>
                </ion-col>
             
              </ion-row>
              <ion-row>
                <ion-col class="subtitle-card-1">
                  <div class="square4" id="element1"></div>
        
                 <span id="element2"> {{cat2key[4]}}</span>
                </ion-col>
                <ion-col class="subtitle-card-1">
                  <div class="square5" id="element1"></div>
        
                 <span id="element2"> {{cat2key[5]}}</span>
                </ion-col>
              </ion-row>
             
             </ion-grid>
             </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
