<ion-header class="ion-no-border">
  <ion-toolbar (click)="goBack()">
    <img src="../../assets/img/Icon material-arrow_back.png" class="precedent">
    <ion-title>
      <span class="title">{{'FORGOT.title' | translate}}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="rounded-card">
    <div id="containerCss">
      <form [formGroup]="formData" (ngSubmit)="onSubmit">
        <ion-label class="label">
          {{'FORGOT.body1' | translate}}<br> {{'FORGOT.body2' | translate}}<br> {{'FORGOT.body3' | translate}}<br> {{'FORGOT.body4' | translate}}
        </ion-label>  
        <div class="container">
          <ion-list class="ion-no-margin">
            <ion-item lines="none">
              <ion-input type="text" placeholder="{{'FORGOT.input' | translate}}" class="rounded-card-1" minlength="7"  formControlName="email"><img src="../../assets/img/icon-mail.png" class="icon-input"></ion-input>
            </ion-item>
          </ion-list>
        </div>
      </form> 
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border" #footer>
  <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col class="button3-color btn-radius" (click)="onSubmit()">
            <button class="btn padding-btn text-light text-btn">{{'FORGOT.btn' | translate}}</button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-toolbar>
</ion-footer>
